<fooetr th:fragment="footer">
<meta charset="utf-8">
	<!-- js iconos font-awesome -->
<script src="font-awesome/js/iconos.js" crossorigin="anonymous"></script>

       <div class="footer">
          <!-- arreglar este pedazo de codigo -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="footer_logo">
              <a th:href="@{/}"><h1 class="logo_index">CONTÁCTAME</h5></a>
            </div>
        </div>
        <div class="col-md-12">
            <ul class="lik">
                <li> <a style="color:blue;" href="https://www.facebook.com/yammx100pre/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li> <a style="color:red;" href="https://mail.google.com/mail/u/0/?tab=rm#inbox/FMfcgzGmtXDbzxCPcCndFPRQFcWWMsfh"><i class="fa fa-google"></i></a></li>
<li> <a style="color:#483D8B;" href="https://web.telegram.org/k/"><i class="fa fa-telegram"></i></a></li>
<li> <a style="color:#FF1493;" href="https://www.instagram.com/tekiooficial12314k/"><i class="fa fa-instagram"></i></a></li>
<li> <a style="color:#7FFF00;" href="contact.html"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end arreglo -->
        <div class="copyright">
            <div class="container">
                <p>© 2022 Reservados todos los derechos de Diseñado por<a href="https://www.facebook.com/yammx100pre/"> xxxxxxx</a></p>
            </div>
        </div>
    </div>
</fooetr>