<div class="sidebar" th:fragment="menu">
  <meta charset="UTF-8">
	<!-- Sidebar  -->
	<nav id="sidebar">
		<p sec:authorize="isAuthenticated()"
			style="color: red; top: 9%; position: absolute;">
			<i style="color: black;" class="fa fa-address-card"></i> [[${rol}]]
		</p>
		<div id="dismiss">
			<i class="fa fa-arrow-left"></i>
		</div>
		<!-- list no login -->
		<ul sec:authorize="isAnonymous()" class="list-unstyled components">
			<li id="index"><a th:href="@{/}">Home</a></li>
			<li id="gallery"><a th:href="@{/gallery}">Galeria</a> <!--  --></li>
		</ul>
		<!-- end no login -->
		<!-- list login products-->
		<ul sec:authorize="isAuthenticated()" class="list-unstyled components">
			<li id="indexSystem"><a th:href="@{/Bienvenido}">Home</a></li>
			<li><a th:href="@{/registrar_productos}">Registrar Producto</a>
			</li>
			<li id="infogeneral">
			  <a th:if="${conect} != 'connect' " th:href="@{/cuenta}">Información General</a>
			</li>
		</ul>
		<!-- end list login -->
	</nav>
</div>