<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Sistema Index</title>
<meta name="keywords" content="MY WEB">
<meta name="description" content="">
<meta name="author" content="YILSON ALEXIS MALAMBO MADRIGAL">
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- owl css -->
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<!-- style css -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- responsive-->
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!-- awesome fontfamily -->
<link rel="stylesheet"
	th:href="@{/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}">

<!-- alertas personalizadas js -->
<link rel="stylesheet" href="css/dark.css">
<!-- bootraps actualizado version 5 -->
<!-- CSS only -->
<link href="bootstraps5/bootstrap.min.css" rel="stylesheet"
	crossorigin="anonymous">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
<link rel="stylesheet" href="css/galleryProductCss/product.css">
</head>
<!-- body -->
<!-- body -->
<body class="main-layout">
	<!-- loader  -->
	<div class="loader_bg">
		<div class="loader">
			<img id="imgl" th:src="@{/images/loading.gif}" alt="" />
		</div>
	</div>

	<div id="container1" class="wrapper">
		<!-- end loader -->

		<!-- menu -->
		<div th:insert="/menu-header/menu :: menu"></div>
		<!-- end menu -->

		<div id="content">
			<!-- header -->
			<div th:insert="menu-header/header :: header"></div>
			<!-- end header -->
			<!-- start slider section -->

			<!-- section profile -->
			<section class="resip_section">
				<div class="container">
					<div style="    margin-top: 6%;" class="row">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div style="background: #d8b00f; width: 100%;">
										<!--// profile -->
										<div class="card-panel z-depth-2 Author">
											<div class="Author-profile">
												<!-- galeria pro -->
													<div class="is-width-auto">
		<div class="is-flex">
			<div class="is-column bees-col is-no-margin-right is-full-width is-no-margin-left">
				<div id="list-deferred-wrapper" class="bees-grid" cartitems="[object Object]">
					<div class="bees-grid">
					
					
					
						<div th:each="data:${dataProduct}" class="bees-card is-bordered bees-product-card bees-recommendation-card is-flex bees-col is-3-col is-4-col-tablet is-4-col-phone is-column">
							<a href=""
								class="bees-link-wrapper bees-link-no-style">
								<div  class="is-column is-flex is-row-phone">
									<div
										class="is-2-col-phone is-center-center is-flex bees-product-image-container">
										<img class="bees-image bees-product-image"
										th:src="@{'/recursos/' + ${data.imagen}}" alt="Poker R 330cc X 30 - 2512">
											
									</div>
									<div class="bees-spacer inline inline-m is-hidden-medium-plus"></div>
									<div class="is-3-col-phone is-column is-self-center">
										<div class="bees-spacer stack stack-m"></div>
										<span title="Poker R 330cc X 30 - 2512"
											class="bees-text bees-product-card-title is-text-weight-medium truncate-after-3-lines is-line-height-normal">Poker
											[[${data.imagen}]]$R 330cc X 30 - 2512</span>
										<div class="is-flex">
											<span
												class="bees-text bees-product-card-returnable-icon is-medium">♻</span>
										</div>
										<div class="bees-spacer stack stack-m"></div>
										<div class="price-and-price-by-unit">
											<span class=""><span
												class="bees-number-display is-black-color">$49.800,0</span></span>
										</div>
										<div class="bees-spacer stack stack-s"></div>
									</div>
								</div>
							</a>
							<div class="bees-spacer stack stack-m"></div>
							<div class="bees-spacer is-flex-1 stack stack-l"></div>
							<form class="bees-add-form is-flex is-column">
								<div class="is-flex is-row">
									<div class="bees-product-qty">
										<button onclick="desminuir(5)" class="desminuir5 bees-button qty-button-minus is-round is-secondary" type="button">-</button>
										<label><span class="visually-hidden"> </span><input id="cantidadFinal5" class="requested-qty" type="text" min="0" max="9999" value="0"></label>
											<input id='contador5' type="hidden">
										<button
											class="bees-button qty-button-plus is-round is-secondary"
											type="button"  onclick="Aumentar(5)">+</button>
									</div>
									<div class="bees-spacer inline inline-m"></div>
									<button
										class="bees-button bees-add-to-cart is-uppercase is-secondary is-center-center is-font-size-xsmall"
										type="submit">Añadir</button>
								</div>
							</form>
						</div>
						
			

		</div>
		</div>
		</div>
		</div>
	</div>
												
												<!-- end galeria pro -->
											</div>
										</div>
										<!-- end profile -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- footer -->
			<div th:insert="/menu-header/footer :: footer"></div>
			<!-- end footer -->
		</div>
	</div>
	<div class="overlay"></div>
		<script th:src="@{js/logout.js}" type="text/javascript"></script>
			<script src="js/sweetalert2@11.js"></script>
	<!-- Javascript files-->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{js/owl.carousel.min.js}"></script>
	<script th:src="@{js/custom.js}"></script>
	<script th:src="@{js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{js/jquery-3.0.0.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#cantidadFinal').val(0);
			$('.desminuir').hide(".desminuir");
			$('#verProduct').html('');
			$('#submenu').html('');
			$('#index').html('');
			$("#sidebar").mCustomScrollbar({
				theme : "minimal"
			});
			$('#dismiss, .overlay').on('click', function() {
				$('#sidebar').removeClass('active');
				$('.overlay').removeClass('active');
			});
			$('#sidebarCollapse').on('click', function() {
				$('#sidebar').addClass('active');
				$('.overlay').addClass('active');
				$('.collapse.in').toggleClass('in');
				$('a[aria-expanded=true]').attr('aria-expanded', 'false');
			});
		});
	</script>
	<script>
		$(document).ready(function() {
			var owl = $('.owl-carousel');
			owl.owlCarousel({
				margin : 10,
				nav : true,
				loop : true,
				responsive : {
					0 : {
						items : 1
					},
					600 : {
						items : 2
					},
					1000 : {
						items : 5
					}
				}
			})
		})
	</script>

</body>

</html>

	<script type="text/javascript">
	
	var valor=0;
	var valor2=0;
	var valor3=0;
	var valor4=0;
	var valor5=0;
	function Aumentar(id){
	    if(id ==1){
	    	var contador = document.getElementById("contador").value;
	        valor++
	        if(valor > 0){
	        	$('.desminuir').show();
	        }
		        var finalcompra = $('#cantidadFinal').val(valor);
		        document.getElementById("contador").textContent = valor;
		        
	    }else if(id == 2){
	    	var contador2 = document.getElementById("contador2").value;
	        valor2++
	        if(valor2 > 0){
	        	$('.desminuir2').show();
	        }
		        var finalcompra2 = $('#cantidadFinal2').val(valor2);
		        document.getElementById("contador2").textContent = valor2;
	    }else if(id == 3){
	    	var contador3 = document.getElementById("contador3").value;
	        valor3++
	        if(valor3 > 0){
	        	$('.desminuir3').show();
	        }
		        var finalcompra3 = $('#cantidadFinal3').val(valor3);
		        document.getElementById("contador3").textContent = valor3;
	    }else if(id == 4){
	    	var contador4 = document.getElementById("contador4").value;
	        valor4++
	        if(valor4 > 0){
	        	$('.desminuir4').show();
	        }
		        var finalcompra4 = $('#cantidadFinal4').val(valor4);
		        document.getElementById("contador4").textContent = valor4;
	    }else if(id == 5){
	    	var contador5 = document.getElementById("contador5").value;
	        valor5++
	        if(valor5 > 0){
	        	$('.desminuir5').show();
	        }
		        var finalcompra5 = $('#cantidadFinal5').val(valor5);
		        document.getElementById("contador5").textContent = valor5;
	    }
	}
	
	function desminuir(id){
		 if(id == 1){
			 var contador = document.getElementById("contador").value;
		        valor--
		        if(valor < 0 || valor == 0){
		        	$('.desminuir').hide(".desminuir");
				} 
		        	$('#cantidadFinal').val(valor);
		    	    document.getElementById("contador").textContent = valor;
		    	    
		 }else if(id == 2){
			 var contador = document.getElementById("contador2").value;
		        valor2--
		        if(valor2 < 0 || valor2 == 0){
		        	$('.desminuir2').hide(".desminuir2");
				} 
		        	$('#cantidadFinal2').val(valor2);
		    	    document.getElementById("contador2").textContent = valor2;
		 }else if(id == 3){
			 var contador3 = document.getElementById("contador3").value;
		        valor3--
		        if(valor3 < 0 || valor3 == 0){
		        	$('.desminuir3').hide(".desminuir3");
				} 
		        	$('#cantidadFinal3').val(valor3);
		    	    document.getElementById("contador3").textContent = valor3;
		 }else if(id == 4){
			 var contador4 = document.getElementById("contador4").value;
		        valor4--
		        if(valor4 < 0 || valor4 == 0){
		        	$('.desminuir4').hide(".desminuir4");
				} 
		        	$('#cantidadFinal4').val(valor4);
		    	    document.getElementById("contador4").textContent = valor4;
		 }else if(id == 5){
			 var contador5 = document.getElementById("contador5").value;
		        valor5--
		        if(valor5 < 0 || valor5 == 0){
		        	$('.desminuir5').hide(".desminuir5");
				} 
		        	$('#cantidadFinal5').val(valor5);
		    	    document.getElementById("contador5").textContent = valor5;
		 }
	}
	</script>


