<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<button onclick="data()">aceptar</button>
<ul >
<li id="mesg"></li>
</ul>
<script>
function data(){
	$.get(
			'/datosJs',
			{},
			 function(data){
			   if(data){
					   $.each( data, function( key, value ) {
					  var a = $("#mesg").append( `${value.username}`,'<br>');
					  })
					
			}else{
				alert("no hay objecto")
				
			}
			}
		)
}
</script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
</body>
</html>
